stages:
  - lint
  - test
  - build
  - deploy

variables:
  PYTHON_IMAGE: python:3.12-slim
  GOOGLE_SDK_IMAGE: google/cloud-sdk:slim
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

# 1. Lint - PEP 8 check using Black
lint_python:
  stage: lint
  image: $PYTHON_IMAGE
  script:
    - pip install black
    - black --check bot/ scripts/*.py utilities/*.py

# 2. Test - Run Python Unit Tests
unit_tests:
  stage: test
  image: $PYTHON_IMAGE
  before_script:
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
  script:
    - export PYTHONPATH=$(pwd)
    - pytest tests/

# 3. Build - Verify Docker Build
docker_build:
  stage: build
  image: docker:24.0.5
  services:
    - name: docker:24.0.5-dind
      alias: docker
  script:
    - sleep 5 # Allow the dind service daemon time to start
    - docker info
    - docker build -t trading-bot .
  only:
    - main
    - merge_requests

# 4. Deploy - Terraform Apply (Master Only)
deploy_production:
  stage: deploy
  image: $GOOGLE_SDK_IMAGE
  script:
    - echo "$GOOGLE_CREDENTIALS" > sa-key.json
    - gcloud auth activate-service-account --key-file sa-key.json
    - gcloud config set project $PROJECT_ID
    - cd terraform
    - terraform init
    - terraform apply -auto-approve
  only:
    - main
  dependencies:
    - unit_tests
