# Web & API
Flask==3.0.2
gunicorn==21.2.0
aiohttp==3.9.3

# Data Science & Technical Indicators
pandas==2.2.0
numpy==1.26.4

# Cloud & Observability
google-cloud-logging==3.9.0
google-cloud-bigquery==3.17.2

# Utilities
python-dotenv==1.0.1
pytz==2024.1

# Trading logic
ib-async==1.0.1
